* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

body {
    background-color: #ADC4D7;
}

.category-field{
    background-color: #F9F9F9 !important;
}

.link, a {
    text-decoration: none;
    color: unset;
}
.app-header{
    background-color: #A7B95E !important;
    position:fixed !important;
}

.back-to-prod-list-btn{
    margin-top: 88px !important;
}

.btn-check-out{
    float: right;
    margin: 24px !important;
}

.cart-price{
    padding-right: 24px !important;
}

.product-img {
    max-height: 200px;
}

.cart-item-img{
    max-height: 150px; 
}

.modal-img{
    max-height: 400px;
    margin: 0 auto;
}

.modal-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    max-height: 750px;
    position:fixed !important;
    top: 125px;
    left: calc(50vw - 325px);
    box-shadow: 0px 0px 5px 1px #797979 !important;
}

.loader-animation {
    position: absolute;
    margin: 0 auto;
    top: calc(50vh - 5px);
    left: calc(50vw - 5px);
}

.modal-btn-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-content-container{
    position: relative;
    margin-bottom: 24px;
}

.add-to-cart-icon{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}
.add-to-cart-icon:hover{
    color: #3f51b5;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
.add-to-cart-icon:hover >*{
    width: 100%;
}
.add-to-cart-icon:active{
    color: #A7B95E;
}

.table-header>*{
    font-weight: 600 !important;
    color: rgb(61, 61, 61) !important;
    cursor: context-menu;
}
.table-content>*{
    color: rgb(61, 61, 61) !important; 
    cursor: context-menu;
}

.contact-link{
    text-decoration: underline;
    color: #3f51b5;
}
.contact-link:hover{
    text-decoration: none;
    color: rgba(63, 81, 181. 0.1);
    font-weight: 600;
}

.close-modal-btn{
    right: 0;
}

.no-cart-items-msg{
    background-color: rgba(249, 249, 249, 0.5);
    width: fit-content;
    padding: 24px;
    margin: 125px auto;
    text-align: center;
    border-radius: 8px;
    
}
.no-cart-items-msg>:first-child{
margin-bottom: 16px;
}